<!DOCTYPE html>
<html>

<head>
    <title>Password Manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <div class="container">
        <h1 class="text-center">Password Manager</h1>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form action="/save" method="post" onsubmit="return validateForm()">
                    <div class="form-group">
                        <label for="password">Enter Password:</label>
                        <input type="password" class="form-control" name="password" id="password"
                            onkeyup="enableSaveButton()">
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <input type="text" class="form-control" name="description" id="description">
                    </div>
                    <button type="submit" class="btn btn-primary" id="save-button" disabled>Save</button>
                </form>
            </div>

        </div>
    </div>

    <h2 class="text-center">Saved Passwords:</h2>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <button class="btn btn-default toggle-button" id="toggle-button" onclick="togglePasswords()">Show
                Passwords</button>
            <table id="passwords-table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Password</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for password in passwords %}
                    <tr>
                        <td>{{ password[0] }}</td>
                        <td>{{ password[1] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    </div>

    <script>
        function validateForm() {
            var passwordInput = document.getElementById('password');
            var descriptionInput = document.getElementById('description');
            var saveButton = document.getElementById('save-button');

            if (passwordInput.value.trim() === '') {
                alert('Please enter a password.');
                return false;
            }

            if (descriptionInput.value.trim() === '') {
                descriptionInput.value = 'null';
            }

            saveButton.disabled = true; // Блокируем кнопку после нажатия Save
            return true;
        }

        function enableSaveButton() {
            var passwordInput = document.getElementById('password');
            var saveButton = document.getElementById('save-button');

            if (passwordInput.value.trim() !== '') {
                saveButton.disabled = false; // Разблокируем кнопку при вводе пароля
            } else {
                saveButton.disabled = true;
            }
        }
    </script>
</body>

</html>